<div class="sidebarwrap">
    <ul class="listwrap">
        <li [routerLink]="['/city'] ">
            <a>
                <i class="fa fa-home fa-lg" aria-hidden="true"></i> City </a>
        </li>
        <li [routerLink]="['/master-categories'] ">
            <a><i class="fa fa-building-o fa-lg" aria-hidden="true"></i>Master Categories</a>
        </li>
        <li [routerLink]="['/vendor'] ">
            <a><i class="fa fa-vimeo fa-lg "></i>Vendor</a>
        </li>
        <!--    <div class="listWrap" *ngIf="isAdmission">
            <ul class="listwrap">
                <li style="padding-left: 19%!important">
                    <a [routerLink]="[ '/admitStudent'] ">
                        <i class="fa fa-user-o fa-lg"></i>Admit Student</a>
                </li>
                <li style="padding-left: 19%!important">
                    <a [routerLink]="[ '/currentBatch'] ">
                        <i class="fa fa-user-o fa-lg"></i>Current Batch</a>
                </li>
            </ul>
        </div>
        -->
    </ul>
</div>