<div class="citywrap">
    <div class="mainWrap">
        <div class="card-header-outer">
          <div class="card-header headerWrap">
            <div class="row">
              <div class="col-xl-6">
                  <div class="headWrapParaVendor">
                User List</div>
              </div>
            <div class="col-xl-3">
             <!--   <button class="btn btn-primary" (click)="export()">Export To Excel</button>-->
       </div>
              <div class="col-xl-3">
                <!--           <a class="btn btn-primary" [routerLink]="['adduser']" role="button"> Add User</a>-->
              </div>
            </div>
          </div>
        </div>
      
        <div class="table-responsive">
      
          <table class="table table-sm table-bordered " id="vendor">
            <thead>
              <tr>
                <th style="width:150px"> User Name</th>
                <th style="width:150px">Mobile</th>
                <th style="width:150px">Pincode</th>
                <th style="width:150px">City</th>
                <th style="width: 150px">Device Type</th>
                <th style="width: 50px" >Edit</th>
                <th style="width: 70px">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userDetail">
                <td style="width:150px"> {{user.name}} </td>
                <td style="width:150px"> {{user.mobile}} </td>
                <td style="width:150px"> {{user.pincode}} </td>
                <td style="width:150px"> {{user.cityId}} </td>
                <td style="width: 150px"> {{user.deviceType}} </td>
                <td style="width: 50px">
                  <i title="Edit user" [routerLink]="['edituser',user.id]" class="fa fa-fw fa-edit"></i>
                </td>
                <td style="width: 70px">
                  <i title="Delete user" (click)="deleteUser(user.id)" class="fa fa-fw fa-trash"></i>
                </td>
              </tr>
            </tbody>
          </table>
       
        </div>
      </div></div>
      
      <div class="loading-box" *ngIf="isLoader">
        <div class="loading"></div>
      </div>
    