<div class="mainWrap">
        <div class="headWrap">
                <div class="titleHeadWrap">
                    {{_headerText}}
                </div>
                <div class="buttonHeadWrap">
                    <button class="btn btn-primary" (click)="goBack()" >Go Back</button>
                </div>
            </div>
    <div class="container">
       
        <div class="mainDiv">
                <form #addCity="ngForm" (ngSubmit)="save()">
            <div class="rowWrap">
                <div class="labelWrap">
                   City Name  <span style="color: red">*</span>
                </div>
                <div class="inputWrap">  
                    <input type="text" name="name"   #name="ngModel" [(ngModel)]="cityDetail.name"  class="form-control" required>
                <div *ngIf="name.touched && name.invalid">
                    <div class="validation" *ngIf="name.errors['required']">
                      Please enter city name
                    </div>
                  </div>
                  </div>
              
            </div>

            <div class="rowWrap">
                <div class="labelWrap">
                   Pin Code  <span style="color: red">*</span>
                </div>
                <div class="inputWrap">
                    <input type="text"name="pincode" pattern="[0-9]{1,10}" #pincode="ngModel" required [(ngModel)]="cityDetail.pincode"  class="form-control">
                    <div *ngIf="pincode.touched && pincode.invalid" class="validation" >
                          Please enter Pincode and characters are not allowed
                        </div>
                      </div>
                </div>
            

            <div class="rowWrap">
                <div class="labelWrap">
                   State  <span style="color: red">*</span>
                </div>
                <div class="inputWrap">
                    <input type="text" name="state" #state="ngModel" required [(ngModel)]="cityDetail.state"  class="form-control">
                    <div *ngIf="state.touched && state.invalid">
                        <div class="validation" *ngIf="state.errors['required']">
                          Please enter state
                        </div>
                      </div>
                </div>
            </div>

            <div class="rowWrap">
                    <div class="labelWrap">
                        Launched <span style="color: red">*</span>
                    </div>
                    <div class="InformationSelectGetWrap">
    
                        <select class="browser-default custom-select"
                        name="launched" #launched required [(ngModel)]="cityDetail.launched">
                            
                            <option value="True">True</option>
                            <option value="False">False</option>
                        </select>
                        <div *ngIf="launched.touched && launched.invalid">
                            <div class="validation" *ngIf="launched.errors['required']">
                              Please select launched type
                            </div>
                          </div>
                    </div>
                </div>

            <div class="buttonWrap">
                <div class="buttonWrapMemory">
                <button class="btn btn-primary" [disabled]="!addCity.form.valid" >{{_buttonText}}</button>
            </div>
            </div>
        </form>
        </div>
    </div>
</div>
